.wrapper {
  margin: 0 10vw;
  width: 100vw;
  display: flex;
}
.page {
  width: 80vw;
  h1 {
    font-size: 3em;
    color: #111111;
  }
}
.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 14px;
  grid-column-gap: 10px;
}
@media (max-width: 1000px) {
  .photos {
    display: flex;
    flex-flow: column;
    > div {
      margin-bottom: 2em;
    }
  }
}
