:global(body) {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:global(#root) {
  margin: 0;
  padding: 0;
}
#App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
